.h1 {
    color: green;
    text-align: center;
}
h2{
    color: red;
    text-align: center;
    font-size: 60px;
    font-family: cursive;
    text-shadow: 2px 2px 8px rgb(53, 77, 53);
}
h1#title{
    color: darkmagenta;
}
h2#subtitle{
    color: blue;
}